extends ../layouts/default

block content
	.ui.grid.main-container
		.row
			.three.wide.column
			.ten.wide.column
				each post in posts
					article.ui.segment
						h2= post.name
						if post.author
							|  作者:  #{post.author.name.full}
						p 發佈於 
							if post.publishedDate 
								time(datetime=post.publishedDate)=post._.publishedDate.format('MM月 DD日, YYYY')
						hr
						figure.ui.image
							img(src=post._.image.fit(1024,768))
						section.content
							p!= post.content.extended
			.three.wide.column
		
						
