extends ../layouts/default

include ../mixins/movie
block content
	.ui.grid.main-container#movie-blog
		.ui.thirteen.wide.column
			aside
				a(href="/") 
					button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--primary= '回首頁'
				if user
					a(href='/keystone/movies?new') 
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--primary= '新電影'
			header
				h2=category ? category.name : '影片總覽'
			if filters.category && !category
				h3 分類不存在!
			else
				if movies.results.length
					if movies.totalPages > 1
						h5
							| 顯示
							strong #{movies.total}
							| 項結果中的
							strong #{movies.first}
							| 至
							strong #{movies.last}
							| 項
					else
						//- .lead.text-muted Showing #{utils.plural(movies.results.length, '* movie')}
						h4 共有 #{movies.results.length} 部電影
					.ui.grid
						each movie in movies.results
							.four.wide.column
								+movie(movie)
					if movies.totalPages > 1
						ul.pagination
							if movies.previous
								li: a(href='?page=' + movies.previous): i.material-icons chevron_left
							else
								li.disabled: i.material-icons chevron_left
							each p, i in movies.pages
								li(class=movies.currentPage === p ? 'active' : null)
									a(href='?page=' + (p === '...' ? (i ? movies.totalPages : 1) : p ))= p
							if movies.next
								li: a(href='?page=' + movies.next): i.material-icons chevron_right
							else
								li.disabled: i.material-icons chevron_right
				else
					if category
						.jumbotron.text-center
							h3(style="margin-bottom:0;margin-top:0;") No movies in the category #{category.name}.
					else
						.jumbotron.text-center
							h3(style="margin-bottom:0;margin-top:0;") There are no movies yet.
		.ui.three.wide.column
			if categories.length
				h4 電影分類
				ul.mdl-list
					li.mdl-list__item
						a(href='/movies/movie_blog') 全部
					each cat in categories
						li.mdl-list__item
							a(href='/movies/movie_blog/' + cat.key)
								span.mdl-badge(data-badge=cat.movieCount)= cat.name
