extends ../layouts/default
include ../mixins/movie
include ../mixins/pagination
include ../mixins/google-search

block content
	.ui.stackable.grid.main-container#movie-blog
		+google_search()
		if category
			.ui.fourteen.wide.column
				aside
					if user
						a(href='/keystone/movies?new')
							button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.md.admin-ui-color= '新電影'
				header
					h2= category.name
				if movies.results.length
					if movies.totalPages > 1
						h5.prompt
							| 顯示
							strong #{movies.total}
							| 項結果中的
							strong #{movies.first}
							| 至
							strong #{movies.last}
							| 項
					else
						//- .lead.text-muted Showing #{utils.plural(movies.results.length, '* movie')}
						h4.prompt 共有 #{movies.results.length} 部電影
					+pagination(movies)
					.ui.stackable.grid#four-movies-grid
						each movie in movies.results
							.four.wide.column
								+movie(movie)
					+pagination(movies)
				else
					if category
						//- h3 No movies in the category #{category.name}.
						h5.prompt 此月份目前沒有新進影片，請點選其他分類。
						//- a(href='/movies/' + section)
						//- 	button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--primary= '回全部影片'
					else
						h5 There are no movies yet.
		.ui.two.wide.column
			table.mdl-data-table.mdl-js-data-table.category-table
				if categories.length
					each category in categories
						tr
							td
								a.td-a(href='/movies/' + section + '/' + category.key)
									span!= category.name
				else
					tr
						td
							p 沒有任何分類

