extends ../layouts/default
include ../mixins/movie
include ../mixins/pagination
include ../mixins/google-search

block content
	.ui.stackable.grid.main-container#movie-blog
		+google_search()
		.ui.fourteen.wide.column
			aside
				if user
					a(href='/keystone/movies?new') 
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.md.admin-ui-color= '新電影'
			header
				h2=category ? category.name : '影片總覽'
			if filters.category && !category
				h3 分類不存在!
			else
				if movies.results.length
					if movies.totalPages > 1
						h5.prompt
							| 顯示
							strong #{movies.total}
							| 項結果中的
							strong #{movies.first}
							| 至
							strong #{movies.last}
							| 項
					else
						h4.prompt 共有 #{movies.results.length} 部電影
					+pagination(movies)
					.ui.stackable.grid#four-movies-grid
						each movie in movies.results
							.four.wide.column
								+movie(movie)
					+pagination(movies)
				else
					if category
						//- h3 No movies in the category #{category.name}.
						h5 此分類目前沒有影片
						a(href="/movies/movie_blog/") 
							button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--primary= '回影片總覽'
					else
						h5 There are no movies yet.
		.ui.two.wide.column
			if categories.length
				table.mdl-data-table.mdl-js-data-table.category-table
					tr
						td.category-header
							a(href='/movies/movie_blog/') 全部分類
					each category in categories
						tr
							if category.root_cat
								td.category-header(colspan="2")!= category.root_cat.name
						each sub_cat in category.sub_cats
							tr
								td
									a.td-a(href='/movies/movie_blog/' + category.root_cat.key + '/' + sub_cat.key)
										span!= sub_cat.name
										span.ui.circular.label!= sub_cat.movieCount
