extends ../layouts/default
include ../mixins/movie

block content
	if !movie
		.jumbotron.text-center
			h2 電影不存在!
			p.lead 請檢查網址並再次嘗試...
	else
		.ui.container.main-container
			.ui.centered.grid(style="position: relative")
				aside
					a(href="/movie_blog") 
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--primary.button-back 回影片總覽
				.ui.basic.segment
					h2= movie.name
					h3= movie.english_name
				hr
				.two.column.row
					.column
						table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
							caption
								.ui.fluid.image
									img(src=movie.image.url)
							tbody
								tr
									th 導演
									td= movie.director
								tr
									th 演員
									td= movie.actor
								tr
									th 館藏連結
									td
										a(href=movie.link) 連結
								tr
									th 分級
									td= movie.classfication
								tr
									th 片長
									td= movie.videoTime
								tr
									th 進館日
									td= movie._.inDate.format('MMMM D, YYYY')
								tr
									th 影片分類
									td!= movie.categories._name
					.column
						section.ui.segment.movie-intro.mdl-shadow--2dp
							h3 影片簡介
							p!= movie.content.extended
