extends ../layouts/default
include ../mixins/carousel
include ../mixins/news-slide
include ../mixins/news-list
include ../mixins/pagination

block content
	.ui.grid.main-container#index-news-container
		.row.news-row
			.sixteen.wide.column.list-items-container
				aside
					if user
						a(href='/keystone/news-posts?new') 
							button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.md.admin-ui-color= '新最新消息'
				header
					h2= "最新消息"
				.space
				.ui.link.items#list-news
					each post in news.results
						a.item.slide-link(data-slide="#{post.name}" data-ks-editable=editable(user, { list: 'NewsPost', id: post.id }) href=`/news/posts/${post.key}`)
							.content
								p= post.name
								p= post._.publishedDate.format('YYYY-MM-DD')
			+pagination(news)
			
