mixin intro_slide(posts, listName)
	ul
		each post in posts
			li(data-slide=post.name)
				article.ui.segment.intro-segment(data-ks-editable=editable(user, { list: listName, id: post.id }))
					.content
						.title
							h3!= post.name
						.ui.divider
						.description
							.ui.image
								if post.url_image
									img(src=post.url_image)
								else if post.image
									img(src=post._.image.fit(960,540))
							p!= post.content.extended