mixin post(post)
	article(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
	.item.mdl-shadow--2dp
		.image
			img(src=post._.image.fit(120,120))
		.content
			a.header!= post.name
			.description
				p!= post.content.brief
			.extra
				time= post._.publishedDate.format('MMMM Do, YYYY')
			.meta
				a(href='/blog/post/' + post.key)
					button.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-color--primary= '查看'